# BEAM VM setup
RELEASE_DISTRIBUTION=name
RELEASE_NODE={{ elixir_app.name }}_{{ item.type }}@127.0.0.1
# Elixir App
PORT={{ item.port }}
DATABASE_URL="{{ secrets_db_url }}"
SECRET_KEY_BASE="{{ secrets_secret_key_base }}"
