; {{ ansible_managed }}
[Unit]
Description={{ elixir_app.name }} - {{ item.type }} service
After=network.target

[Service]
Type=simple

User={{ elixir_app.name }}
Group={{ elixir_app.name }}

Environment="PORT={{ item.port }}" "RELEASE_NODE={{ elixir_app.name }}_{{ item.type }}@127.0.0.1"
EnvironmentFile=/etc/{{ elixir_app.name }}/{{ elixir_app.name }}_env

WorkingDirectory=/srv/app/{{ elixir_app.name }}_{{ item.type }}/bin/
ExecStart=/srv/app/{{ elixir_app.name }}_{{ item.type }}/bin/{{ elixir_app.name }} start

Restart=on-failure
RestartSec=5

; give service 2 minutes (120s) before forcibly stopping with a SIGKILL
TimeoutStopSec=120

SyslogIdentifier={{ elixir_app.name }}_{{ item.type }}
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
